.weather-widget {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
    z-index: 9999;
    position: fixed;
    font-size: 1em;
    background: rgba(191, 191, 243, 0.8);
    float: left;
    width: 200px;
    height: 200px;
    top: 100px;
    right: 0;
}
.weather-widget:after {
    content: '';
    top: -18px;
    right: 36px;
    content:"\A";
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent white transparent transparent;
    position: absolute;
    transform: rotate(90deg);
}

.weather-widget .content h4 {
    color: #4d4d4d;
    font-size: 1em;
}

.weather-widget .content .header {
    display: block;
    width: 100%;
    background-color: #1DA1F2;
}

.weather-widget .content .header h2 {
    color: white;
    margin: 0;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    font-family: monospace;
}

.weather-widget .content img {
    display: block;
    margin: 1em auto;
}

.weather-widget .content h6 {
    color: #000;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2px;
}

@media (max-width: 767px) {
    .weather-widget {
        top: 50px;
    }
}