
@import "partials/normalize";
@import "partials/variables";
@import "partials/helpers";
@import "partials/typography";
@import "partials/functions";
@import "partials/mixins";
@import "partials/grid";
@import "partials/google";
@import "partials/twitter";
@import "partials/widgets";
@import "partials/maps";
@import "partials/nav";

/*********************
PRINT STYLESHEET
*********************/

@media print {
  // styles in print.scss
  @import "partials/print";
}


.infobox:first-child img {
  top: 5px;
  left: -5px
}

#not-found img {
  margin: 50px;
}