<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="logo">
        <a href="#/">
            <img src="/images/favicon.ico" alt="">
        </a>
    </div>
    <div class="container">
        <div class="navbar-header page-scroll">
            <button ng-click="openMenu()" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#/">@MeteoMap</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#/">Home</a>
                </li>
                <li class="page-scroll">
                    <a href="#/more">More</a>
                </li>
                <li>
                    <a class="menu-icon" ng-click="openWeatherWidget()">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<meteo-widget templateUrl="components/blocks/meteo-widget.html" templateParameter="mw.options">
</meteo-widget>